<% @articles.each do |article| %>
  <div>
    <%= link_to '編集', edit_article_path(article), method: :get %>
    <%= link_to '削除', article_path(article), method: :delete %>
    <%= article.title %>
    <%= article.text %>
  </div>
<% end %>

