/* サイドメニュー ※リストのスタイルは省略 */
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100vh;
  padding-top: 150px;
  text-align: left;
  visibility:hidden;
  z-index: 2;
  &--close {
    visibility:visible;
  }
}

/* メインコンテンツ */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: all .5s ease;
  z-index: 1;
}
/* 開閉用ボタン ※ボタンの細かいスタイルは省略 */
.side-menu-btn {
  cursor: pointer;
  margin-left: 10px;
}

/* サイドメニューオープン */
.container.side-open {
  transform: translateX(150px);
}
